on init
    chmod 0664 /sys/class/thermal/thermal_message/sconfig
    chown system system /sys/class/thermal/thermal_message/sconfig
    chmod 0666 /sys/class/thermal/thermal_message/temp_state
    chown system system /sys/class/thermal/thermal_message/temp_state

on fs
    mkdir /mnt/vendor/persist/audio 0755 system system
    mkdir /mnt/vendor/persist/haptics 0755 system system
    mkdir /mnt/vendor/persist/stability 0755 system system
    mkdir /mnt/vendor/persist/misys 0755 system system

on post-fs
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wt.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wd.bin
    chmod 0755 /mnt/vendor/persist/camera/rear_dc_cal_wu.bin
    chown system system /mnt/vendor/persist/camera/rear_dc_cal_wu.bin

    chmod 0660 /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/brightness

on post-fs-data
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    mkdir /data/vendor/nfc 0770 nfc nfc

    #Create folder of camera
    mkdir /data/vendor/camera 0770 system camera

on boot
    chown system system /sys/class/backlight/panel0-backlight/brightness_clone
    chmod 0664 /sys/class/backlight/panel0-backlight/brightness_clone
    start mi_thermald

#add for MI-cit white-led
    chown system system /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/max_brightness

#add led For Cit
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:flash_1/brightness
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/led:switch_2/brightness
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/breath

    #add flashlight
    chmod 0660 /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/flashlight/brightness

    #define back flash and front flash
    chmod 0660 /sys/class/leds/led:flash_0/brightness
    chmod 0660 /sys/class/leds/led:flash_1/brightness
    chmod 0660 /sys/class/leds/led:flash_2/brightness
    chmod 0660 /sys/class/leds/led:torch_0/brightness
    chmod 0660 /sys/class/leds/led:torch_1/brightness
    chmod 0660 /sys/class/leds/led:torch_2/brightness
    chmod 0660 /sys/class/leds/led:switch_0/brightness
    chmod 0660 /sys/class/leds/flashlight/brightness
    chmod 0777 /sys/class/ant_div_class/ant_div_state
    chown system system /sys/class/leds/led:flash_0/brightness
    chown system system /sys/class/leds/led:flash_1/brightness
    chown system system /sys/class/leds/led:flash_2/brightness
    chown system system /sys/class/leds/led:torch_0/brightness
    chown system system /sys/class/leds/led:torch_1/brightness
    chown system system /sys/class/leds/led:torch_2/brightness
    chown system system /sys/class/leds/led:switch_0/brightness
    chown system system /sys/class/leds/led:switch_1/brightness
    chown system system /sys/class/leds/flashlight/brightness
    chown system system /sys/class/ant_class/ant_state
    chown system system /sys/class/ant_div_class/ant_div_state

    #Create camera directory
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver

    # Create pa-cal driver directory lct-20181009
    mkdir /mnt/vendor/persist/audio 0770 audio audio

    # access permissions for vibrator calibration
    chmod 0666 sys/devices/platform/soc/884000.i2c/i2c-3/3-005a/cali
    chmod 0666 sys/devices/platform/soc/884000.i2c/i2c-3/3-005a/cali_save
    chmod 0666 sys/devices/platform/soc/884000.i2c/i2c-3/3-005a/f0_save
    chmod 0666 sys/devices/platform/soc/884000.i2c/i2c-3/3-005a/osc_save
    chmod 0666 sys/devices/platform/soc/884000.i2c/i2c-3/3-005a/osc_cali

on property:sys.boot_completed=1
    start vibrator_calibration
    
on charger
    chown system system /sys/class/leds/red/brightness
    chmod 0666 /sys/class/leds/red/brightness
    start vendor.power_off_alarm

service vibrator_calibration /vendor/bin/vibrator_calibration
     class late_start
     user system
     group system
     disabled
     oneshot
     
service mi_thermald /system/vendor/bin/mi_thermald
    class core
    user root
    group system

service vendor.audio-hal /vendor/bin/hw/android.hardware.audio.service
    override
    class hal
    user audioserver
    # media gid needed for /dev/fm (radio) and for /data/misc/media (tee)
    group audio camera drmrpc inet media mediadrm net_bt net_bt_admin net_bw_acct oem_2901 wakelock
    capabilities BLOCK_SUSPEND SYS_NICE
    # setting RLIMIT_RTPRIO allows binder RT priority inheritance
    rlimit rtprio 10 10
    ioprio rt 4
    task_profiles ProcessCapacityHigh HighPerformance
    socket audio_hw_socket seqpacket 0666 system system
    onrestart restart audioserver
