on property:graphics.display.kernel_idle_timer.enabled=true
    # Switch display mode to 60hz when idle
    write /sys/devices/platform/soc/soc:qcom,dsi-display-primary/idle_mode "@60"

on property:graphics.display.kernel_idle_timer.enabled=false
    # Disable agressive idle mode switching
    write /sys/devices/platform/soc/soc:qcom,dsi-display-primary/idle_mode "none"
