on post-fs && property:ro.product.device=karna
    mount none /dev/null /system/app/NfcNci/NfcNci.apk bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hce.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.hcef.xml bind
    mount none /dev/null /vendor/etc/permissions/android.hardware.nfc.uicc.xml bind

on init 
    # Setup permissions for schedtune boost to allow parts to write to it
    chmod 646 /dev/stune/top-app/schedtune.boost

on late-init
    # Start services for bootanim
    start surfaceflinger
    start themed_bootanimation
    start bootanim
    start vendor.hwcomposer-2-3
    start vendor.configstore-hal
    start vendor.qti.hardware.display.allocator

on property:ro.boot.hwc=*
    setprop vendor.boot.hwc ${ro.boot.hwc}   

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.tcpdump=running
    stop vendor.tcpdump

on property:persist.sys.device_provisioned=1
    setprop dalvik.vm.dex2oat-cpu-set 0,1,2,3,4,5,7
    setprop dalvik.vm.dex2oat-threads 6
